<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <title>Gra Shishima</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="header">
    <h1 id="status">Shishima game</h1>
</div>
<div class="buttons">
    <button id="start">Start</button>
    <button id="reset">Reset</button>
</div>
<div class="board">
    <div class="cell cell0" id="cell0" data-id="0"></div>
    <div class="cell cell1" id="cell1" data-id="1"></div>
    <div class="cell cell2" id="cell2" data-id="2"></div>
    <div class="cell cell3" id="cell3" data-id="3"></div>
    <div class="cell cell4" id="cell4" data-id="4"></div>
    <div class="cell cell5" id="cell5" data-id="5"></div>
    <div class="cell cell6" id="cell6" data-id="6"></div>
    <div class="cell cell7" id="cell7" data-id="7"></div>
    <div class="cell cell8" id="cell8" data-id="8"></div>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
